body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Georgia;
}

.AppContainer {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}

.ProgressBarContainer {
  margin: 0 0 30px 0;
  display: block;
}

.ControlsContainer {
  display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .AppContainer {
    width: 500px;
    padding-left: 0;
    padding-right: 0;
  }
}