body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

.app-container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
}

.progress-bar-container {
  margin: 0 0 30px 0;
  display: block;
}

.controls-container {
  display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .app-container {
    width: 500px;
    padding-left: 0;
    padding-right: 0;
  }
}